<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="College Care - Online Public College Search Tool">
    <meta name="author" content="Anthony Chan">
    <link rel="icon" href="../static/images/favicon.png">

    <title>Elgibility For Free College Tuition</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom stylesheets -->
     <link href="../static/css/index.css" rel="stylesheet">
     <link href="../static/css/cover.css" rel="stylesheet">

     <!-- Google Analytics -->
     <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92396044-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>

  <body>
    <div class="masthead">
            <div class="inner">
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="/">Home</a></li>
                  <li><a href="learnmore">Learn More</a></li>
                  <li><a href="mentorship">Mentorship</a></li>
                  <li><a href="forum">Forum</a></li>
                  <li><a href="contact">About</a><br></li>
                </ul>
              </nav>
            </div>
          </div>
    <div id="aboutusheader">
      <h1 class="cover-heading">Consider Going To College. It's Affordable.</h1>
    <img src="../static/images/empower.png" alt="Education visual" width="100%" height="auto">
    </div>
    <div id="aboutus">
    <div class="container marketing">
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <h3>Cutting the cost of college</h3>
          <p class="lead">
            To be elgible for free college tuition, you must be a <em>full-time student enrolled at a SUNY or CUNY two- or four-year college</em>.<br><br>This initiative would be phased over a <b>three-year period</b>:<br>
              - Starting fall of 2017, any New Yorker making up to $100,000 will qualify.<br> 
              - Then in 2018, that margin will be increased to $110,000.<br>
              - Finally in 2019, the goal to bring tuition-free education in a public university to any New Yorker making up to $125,000.<br>
            </p>
        </div>
      </div>
      <hr>
      <center><h4>Resources</h4></center>
      <div class="row">
        <div class="col-lg-6">
          <h2>Governor Cuomo Announces 2017 Agenda to Make College Tuition-Free for Middle-Class New Yorkers</h2>
          <iframe width="500" height="315" src="https://www.youtube.com/embed/Gi5Evwwvl-o?start=525" frameborder="0" allowfullscreen></iframe>
          <p></p>
          <p>Learn more about Cuomo's groundbreaking proposal and how it might benefit you.</p>
          <p><a class="btn btn-default" href="https://www.governor.ny.gov/news/governor-cuomo-presents-1st-proposal-2017-state-state-making-college-tuition-free-new-york-s" target="_blank" role="button">View link &raquo;</a></p>
        </div>
        <div class="col-lg-6">
          <h2>Governor Cuomo Discusses His "Making College Possible" Initiative at Buffalo State University</h2>
          <iframe width="500" height="315" src="https://www.youtube.com/embed/iXvPbJ9Ghqo?start=720" frameborder="0" allowfullscreen></iframe>
          <p></p>
          <p>Read more about Cuomo's Excelsior Scholarship Campaign and the impact it may have on you or your child.</p>
          <p><a class="btn btn-default" href="https://www.governor.ny.gov/news/governor-cuomo-kicks-excelsior-scholarship-campaign-make-college-tuition-free-new-york-s-midd-0" target="_blank" role="button">View link &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- FOOTER -->
      <hr>
      <footer class="footer">
        <p>Copyright &copy; 2017 Anthony and Shaan</p>
      </footer>

    </div><!-- /.container -->
  </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>

  </body>
</html>
