<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="College Care - Online Public College Search Tool">
    <meta name="author" content="Anthony Chan">
    <link rel="icon" href="../static/images/favicon.png">

    <title>Learn more about Excelsior</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom stylesheets -->
    <link href="../static/css/carousel.css" rel="stylesheet">
    <link href="../static/css/cover.css" rel="stylesheet">
    <link href="../static/css/index.css" rel="stylesheet">

    <!-- Google Analytics -->
     <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92396044-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>
  <body>
      <div class="masthead">
        <div class="inner">
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="/">Home</a></li>
                  <li class="active"><a href="learnmore">Learn More</a></li>
                  <li><a href="mentorship">Mentorship</a></li>
                  <li><a href="forum">Forum</a></li>
                  <li><a href="contact">About</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <div id="titlesection">
        <h3>Excelsior Scholarship:<br></h3>
            <h1 class="cover-heading">NY State Tuition-Free Program</h1>
            <p class="lead">Led by Governor Cuomo, this initiative seeks to reduce the burden of college tuition by making <b>all New York State public universities tuition-free</b> for nearly a million of New York's middle-class families and individuals.</p>
            <img src="../static/images/excelsior2.png" alt="Education visual" width="90%" height="auto">
            <p></p>
          </div>
        </div>
        <hr>
      <!-- START THE FEATURETTES -->
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Your future. <span class="text-muted">Your choice.</span></h2>
          <p class="lead">To succeed in today's economy, a college education is necessary. It's estimated that by 2024, about half of all jobs will require a college diploma.<br>Not sure where to start, click to learn more.</p>
          <p><a class="btn btn-primary" href="collegevalue" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="../static/images/excelsior2_square.png" alt="Education visual">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Free college tuition. <span class="text-muted">Be debt-free.</span></h2>
          <p class="lead">Getting a college education has never been more affordable. With NY Governor Cuomo's initiative, middle-class New Yorkers can go to college debt-free.<br>Click to find out how!</p>
          <p><a class="btn btn-primary" href="elgibility" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="../static/images/empower_square.png" alt="Education visual">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Many campuses. <span class="text-muted">Find your school.</span></h2>
          <p class="lead">With 64 SUNY campuses all over the NY state and 24 CUNY campuses in NYC, it's never been easier to commute to college from home. You won't have to worry about college housing. Save money and graduate debt-free.<br>Find your SUNY school today.</p>
          <p><a class="btn btn-primary" href="sunycuny" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="../static/images/sunycuny_square.png" alt="Education visual">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer class="footer">
        <p>Copyright &copy; 2017 Anthony Chan</p>
      </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  
  </body>
</html>
