<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Contact the Developers</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom stylesheets -->
     <link href="../static/css/carousel.css" rel="stylesheet">
     <link href="../static/css/index.css" rel="stylesheet">
     <link href="../static/css/cover.css" rel="stylesheet">

     <!-- Google Analytics -->
     <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92396044-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>

  <body>
    <div class="masthead">
            <div class="inner">
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="learnmore.html">Learn More</a></li>
                  <li class="active"><a href="mentorship.html">Mentorship</a></li>
                  <li><a href="forum.html">Forum</a></li>
                  <li><a href="contact.html">About</a></li>
                </ul>
              </nav>
            </div>
          </div>

    <div id="aboutusheader">
    <img src="../static/images/mentorship.png" alt="Mentorship" width="100%" height="auto">
    </div>
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <h3>We want to share our expertise</h3>
            <p class="lead">
            We know how difficult the whole process of applying to colleges, finding your area of interest, and figuring out a path for success can be. That's why we have a mentorship program.<br></p>
            <h3>Benefits of joining</h3>
              <p class="lead">
              - Be paired up with a current undergraduate student at a CUNY or SUNY school of your choice.<br>
              - Take advantage of our valuable firsthand experience to help you find the school/major of your best fit.<br>
              - Get help scheduling a visit to a college campus for tours and more!</p>
          <p class="lead">It's easy. Just sign up below and we'll be in touch.</p>
        </div>
      </div>
      <hr>
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="//herokuapp.us15.list-manage.com/subscribe/post?u=431fa88ac42267bb894b3c7ff&amp;id=e721ec84f3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Sign up for our Mentor-Pairing Program</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_431fa88ac42267bb894b3c7ff_e721ec84f3" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

      <!-- FOOTER -->
      <hr>
      <footer class="footer">
        <p>Copyright &copy; 2017 Anthony Chan</p>
      </footer>

    </div><!-- /.container -->
  </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>

  </body>
</html>
