<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="College Care - Online Public College Search Tool">
    <meta name="author" content="Anthony Chan">
    <link rel="icon" href="../static/images/favicon.png">

    <title>Why Choose SUNY/CUNY</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom stylesheets -->
     <link href="../static/css/index.css" rel="stylesheet">
     <link href="../static/css/cover.css" rel="stylesheet">

     <!-- Google Analytics -->
     <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92396044-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>

  <body>
    <div class="masthead">
            <div class="inner">
              <nav>
                <ul class="nav masthead-nav">
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="learnmore.html">Learn More</a></li>
                  <li><a href="mentorship.html">Mentorship</a></li>
                  <li><a href="forum.html">Forum</a></li>
                  <li><a href="contact.html">About</a></li>
                </ul>
              </nav>
            </div>
          </div>
    <div id="aboutusheader">
      <h1 class="cover-heading">High standards. Boundless opportunities.</h1>
    <img src="../static/images/sunycuny.png" alt="Education visual" width="100%" height="auto">
    </div>
    <div id="aboutus">
    <div class="container marketing">
      <hr>
      <div class="row">
        <div class="col-lg-12">
          <h3>Commuting to college is possible:</h3>
          <p class="lead">
            - <b>93%</b> of all people in New York live within 15 miles from a State Univerisity of New York (SUNY) school.<br>
            - <b>100%</b> live within 30 miles from a SUNY school.
        </p>
        <h3>Opportunities are boundless:</h3>
        <p class="lead">
          - There's over <b>5000</b> undergraduate academic programs in <b>64</b> SUNY campuses all over the NY state to satisfy the breadth and depth of your interests.<br>
          - In addition, there are <b>24</b> university campuses as part of the City University of New York (CUNY) system to choose from located throughout the NYC urban area.
        </p>
        </div>
      </div>
      <hr>
      <center><h4>Resources</h4></center>
      <div class="row">
        <div class="col-lg-6">
          <h2>SUNY Undergraduate Program Search</h2>
          <p>With 64 campuses and over 5000 undergraduate academic programs, the options are boundless. The link below will bring you to a useful resource that will help you narrow down your search by campus or by major.</p>
          <p><a class="btn btn-default" href="https://www.suny.edu/attend/find-a-suny-program/undergraduate/" target="_blank" role="button">View link &raquo;</a></p>
        </div>
        <div class="col-lg-6">
          <h2>CUNY Academic Program Search</h2>
          <p>CUNY provides more than 1750 academic programs, any of which will lead to either an associate or a bachelor's degree. Explore the many academic programs offered in any of the 24 CUNY campuses in the link below.</p>
          <p><a class="btn btn-default" href="http://www2.cuny.edu/admissions/undergraduate/explore/programs/" target="_blank" role="button">View link &raquo;</a></p>
        </div>
      </div><!-- /.row -->


      <!-- FOOTER -->
      <hr>
      <footer class="footer">
        <p>Copyright &copy; 2017 Anthony Chan</p>
      </footer>

    </div><!-- /.container -->
  </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>

  </body>
</html>
